<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.njuptai.backend.mapper.ChatMessageMapper">

    <insert id="insert" parameterType="com.njuptai.backend.entity.ChatMessage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_message (
            session_id,
            user_id,
            user_message,
            ai_response,
            create_time
        ) VALUES (
                     #{sessionId},
                     #{userId},
                     #{userMessage},
                     #{aiResponse},
                     NOW()
                 )
    </insert>

    <select id="findBySessionId" resultType="com.njuptai.backend.entity.ChatMessage">
        SELECT * FROM chat_message WHERE session_id = #{sessionId} ORDER BY create_time ASC
    </select>

</mapper>